*{
    margin: 10px 20px;
}

h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
    font-style: oblique;
    background-color: darkgreen;
    padding-left: 20px;
    padding-top: 10px;
    height: 55px;
    margin-right: 260px;
}

img{
    height: auto;
    width: 520px;
    padding-left: 50px;
}

a{
    text-decoration: none;
    color: orangered;
}

h2{
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

h3{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


