*{
    margin: 10px;
}

h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
    font-style: oblique;
    background-color: darkgreen;
}

img{
    height: auto;
    width: 450px;
}

a{
    text-decoration: none;
}

h2{
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

h3{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


